<% include partials/template/head.ejs %>

<body>
<% include partials/template/navigation.ejs %>
<div id="sb-site">
 <header>
   
    <div class="hero">
    </div><!-- hero -->
   </header>

<section class="content">
<div class="index">
  <ul>
   <a href="/services/"><li>Service Overview</li></a>
    <% appdata.services.forEach(function(item) { %>
      <a href="/services/<%= item.shortname %>"><li><%= item.title %></li></a>
    <% }); %>
  </ul>
</div>


<div class="offerings">
<!--  <h3>What we offer</h3>-->
  <% include partials/content/serviceslist.ejs %>
  
</div>
</section>

 <% include partials/template/footer.ejs %>
</div><!--Body container for slider logic-->

<div class="sb-slidebar sb-left">
    <ul>
    <% appdata.services.forEach(function(item) { %>
      <a href="/services/<%= item.shortname %>"><li><%= item.title %></li></a>
    <% }); %>
  </ul>

<% include partials/template/sidebarlogic.ejs %>
 </body>
 </html>
