<footer>
 <section class="layout">
  <div class="socialmediaicons">
   
    <ul>
      <li><a><i class="fa fa-facebook"></i></a></li>
      <li><a><i class="fa fa-twitter"></i></a></li>
      <li><a class="link">Healing Center Staff</a></li>
      <li><a class="link">Healing Center Board</a></li>
      <li>©2014 Healing Center Cincinnati</li>
    </ul>
  </div><!-- social media icons -->
  </section><!-- layout -->
</footer><!-- footer -->