<html>
<head>
  <title>Healing Center</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvS3QYHnKV6qRLdc_rCwhK6scf9HE9Az8">
    </script>
  <script src="/inc/jquery.js"></script>
  <script src="/javascripts/script.js"></script>
</head>