<html>
<head>
  <title>Healing Center</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/slidebars.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">
    <script type="text/javascript" src="//use.typekit.net/elj6ncw.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
     <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvS3QYHnKV6qRLdc_rCwhK6scf9HE9Az8">
    </script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/javascripts/slidebars.js"></script>
  <script src="/javascripts/script.js"></script>
</head>