<div class="navigation">
      <section class="layout">
       <div class="branding"><a href="index.html"><img class="logo" src="" alt="healing center logo"></a>         </div>
        <ul class="nav">
          <li><a href="index.php">Home</a></li>
          <li><a href="services.php">Services</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Volunteer</a></li>
          <li><a href="#">Give</a></li>
        </ul>
      </section><!--layout-->
    </div><!--navigation-->