<div class="artist">
           <div class="leaderimage">
            </div>
            
            <h3>What we do<i class="fa fa-chevron-circle-down"></i></h3>
            <div class="toHide">
            <p>The Healing Center offers practical, social, and spiritual support to individuals and families. Services include, but are not limited to: food and clothing, job skills training and job search assistance, auto repair (Saturdays only), mentoring, financial counseling, tutoring, prayer, life skills training, and helpful information about local community services.</p>
            
            <a>Learn more</a>
            </div><!-- tohide -->
          </div><!-- item -->