<div class="artist">
           <div class="leaderimage">
            </div>
            <h3>What to expect<i class="fa fa-chevron-circle-down"></i></h3>
            <div class="toHide">
            <p>The Healing Center is a welcoming place that values the worth and dignity of the individual. Guests are greeted with genuine smiles, warmth, and soothing lights in a beautiful space. The Center believes it is important to build relationships in our community that transcend cultural, racial, religious, and socio-economic lines.</p>
            <a>Learn more</a>
            </div><!-- tohide -->
          </div><!-- item -->