<div class="artist">
            <div class="leaderimage">
            </div>
            <h3>Who we are<i class="fa fa-chevron-circle-down"></i></h3>
            <div class="toHide">
            <p>The Healing Center provides help to residents of Greater Cincinnati when challenges invade their lives—whether sudden financial issues, job loss, divorce, loss of loved ones or just being
overwhelmed caring for family. As a not-for-profit organization, the Healing Center provides
assistance regardless of economic circumstances, ethnic origin, or religious affiliation.</p>                
         <a>Learn more</a>
           </div><!-- tohide -->
          </div><!-- item -->