//Susy setup
$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

@include border-box-sizing;

$small          : 30em;
$medium         : 47em;
$large          : 75em;


.blueWrapper{
background: $hcblue;
margin-top:20px;
}
//CONTENT
.layout{
  
  padding-left: 5px;
  padding-right: 5px;
  @include container;
  margin-left: auto;
  margin-right: auto;
  &:first-of-type{
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 100px;
  @include at-breakpoint($medium) {
  margin-top: 0px;
  }
  p, h3{
  padding-left:25px;
  }
  h3{
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: $hcblue;
  }
    @include at-breakpoint($medium) {
     padding-left: 1em;
  padding-right: 1em; 
  p, h3{
  padding-left:0px;
  }
  }//medium
  }//first-of-type
} //Content layout
.content{

@include clearfix;
}
//HEADER
header{
 .hero, .heroservices{
      position: relative;
      display: block;
      width: 100%;
      height: 250px;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: scroll;
      margin: 0 auto;
      top:100px;
    h2{
    text-transform: uppercase;  
    text-align: center;
    position:absolute;
    font-family: $font-secondary;
    color:white;
    font-size:3.5rem !important;
    font-weight:600;
    text-shadow: 2.5px 2.5px 0 rgba(0,0,0,0.7);
    background-color: rgba(40,179,201,0.9);
    width:100%;
    padding:14px;
    bottom:0px;
      a{
      cursor: pointer;
      color:white;
      text-shadow: none;
      @include single-transition(all, .2s, ease-out);
        &:hover{
        color:$hcred;
//        text-shadow: 0px 0px 5px white;
        }
      }
    }//h2
    
    
    @include at-breakpoint($medium) {
    background-position: left top;
    height: 500px;
    top:0px;
  

    } //medium
  } //hero
} //header
.hero{
@include background(image-url('misc/good_exteriorbrightfixed.jpg'));
background-position: left top;
background-size: cover;
//-webkit-transition: background 1s;
}
.heroservices{
@include background(image-url('artwork/welcome-area.png'));
background-position: bottom right;
}

.hero .nav a {
  
background: #000;
bottom: 0;
color: #fff;
display: block;
height: 110px;
position: absolute;
top: 20%;
text-align: center;
width: 50px;
z-index: 4;
opacity:.7;
width: 30px;
i{
  margin-top:45px;
  }
  
  
@include at-breakpoint($medium) {
top: 50%;
height: 110px;
text-align: center;
width: 50px;

@include single-transition(all, .2s, ease-out);
  &:hover{
  opacity:1;
  }

}//medium
}

.next {
right: 0;
}

//Navigation

.branding{
        @include at-breakpoint($medium) {
        position:absolute;
        margin-bottom: -60px;
        height:110%;
        top: 0px;
        img{
          width: 320px;
          background: rgba(255,255,255,1);
          display: block;
          max-width: 230px; margin-left: 0%; box-shadow: rgb(51, 51, 51) 0px 0px 5px; padding-bottom: 4%;
          @include single-transition(all, .07s, ease-out);
        }
        }//medium
      } //branding
.navigation{
  display:block;
  @include background(image-url('misc/hc%20logo_full.svg'));
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: $hcsoftwhite;
  position:fixed;
  z-index:9999;
  width:100%;
  @include at-breakpoint($medium) {
  height:60px;
  background: rgba(255,255,255,.6);
  min-height: 60px;

  @include single-transition(all, .7s, ease-out);
}//medium
    ul.nav{
    @include horizontal-list;
    font-family: $font-secondary, sans-serif;
    float:right;
    margin-right: 5%;
    display:inline-block;
    position:absolute;
    bottom:0px;
    width:100%;
    background-color: darken($hcgrey,15%);
    background-image: -webkit-linear-gradient(top, rgba(255,255,255, 0.05) 50%, rgba(0,0,0, 0.02) 53%);
    @include at-breakpoint($medium) {
    background-image:none;
    position:inherit;
    background-color: inherit;
    width:auto;
    
    }
    li{
      &:first-child{
      margin-left: 3%;
      
      a{
        font-size:1.3rem;
        
      }
        @include at-breakpoint($medium) {
      display: none;
      margin-left: 0%;
      }//medium
    }//first-child
   
      a{
        @include single-transition(all, .2s, ease-out);
        display: block;
        text-decoration: none;
        padding: 5px 5px;
        color: $softblack;
        line-height: 20px;
        font-size: .9rem;
//        border-bottom: 3px solid black;
        text-transform: uppercase;
        font-weight:300;
        @include at-breakpoint($medium) {
        font-size: 1rem;
        line-height: 20px;
        padding: 25px 10px 0px;
        
        }
        &:hover{
          color: $hcblue;
        }
        }//a
    }//li
  }//ul.nav

}//nav



//SPEAKERS LIST

.active {
border-bottom: 3px solid $hcblue;
}
.speakers{
  
.artist{
  &:first-of-type{
  margin-top: 20px;
  }
  .toHide{
      padding-bottom: 20px;
    @include at-breakpoint($medium){
    padding-bottom: 0px;
    }
    }
  &:last-of-type{
  margin-bottom:1%;
    @include at-breakpoint($medium){
    margin-bottom:0%;
    }
  }
}
.leaderimage{
    
    width:100%;
    height:180px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:0%;
    
  
  @include at-breakpoint($medium){
    width:90%;
    height:200px;
    margin-top:9%;
  }//medium
   
  }//leaderimage
div:nth-of-type(1) .leaderimage{
    @include background(image-url('artwork/weare.png'));
    background-attachment: scroll;
    background-size: cover;
    @include at-breakpoint($medium){
      background-size:inherit;
    }
    background-repeat: no-repeat;
}
 div:nth-of-type(2) .leaderimage{
    @include background(image-url('artwork/wedo.png'));
   background-attachment: scroll;
    background-size: cover;
    @include at-breakpoint($medium){
      background-size:inherit;
    }
    background-repeat: no-repeat;
}
   div:nth-of-type(3) .leaderimage{
    @include background(image-url('artwork/expect.png'));
     background-attachment: scroll;
    background-size: cover;
    @include at-breakpoint($medium){
      background-size:inherit;
    }
    background-repeat: no-repeat;
}
  h3{
      color: $hcblue;
      padding-top: 20px;
      font-weight:200;
      font-size:2.2rem;
      background-color: rgba(255,255,255,.8);
      position:absolute;
      width:100%;
      top:120px;
    @include at-breakpoint($medium){
    background-color: none;
    position:inherit;
    top:0px;
    }
    }//h3
  .artist{
    
    position: relative;
    @include box-shadow;
    @include single-transition(all, .2s, ease-out);
    cursor:pointer;
    background-color: rgba(255,255,255,.5);
    
    i{
    display: block;
    float: right;
    margin-right: 5%;
    }
    p{
    padding-right: 80px;
    }
  }

  a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-secondary;
    border:2px solid darken($hcgrey,30%);;
    padding:2%;
    color: darken($hcgrey,30%);
    cursor: pointer;
    @include single-transition(all, .3s, ease-out);
    margin-left:25px;
    display: block;
    width:150px;
    @include at-breakpoint($medium){
      margin-left:0px;
    }//medium a
    &:hover{
       background: $hcred;
        color:white;
      }
     }
    p{
      padding-top: 20px;
      padding-bottom:20px;
      color: $softblack;
      } 
@include at-breakpoint($medium){
    
    #{headings()}{
      text-shadow: none;
      border-bottom: none !important;
    }//headings
    .artist{
        box-shadow:none;
        height:auto;
        @include span-columns(4,12);
        margin-top:20px;
        margin-right: 0px !important;
        position: relative;
        width:33.33%;
        padding-bottom: 10px;
      i{
      visibility: hidden;
      }
      p{
      padding-top: 0px;
      } 
      }
    
   
    

  }//medium  
} //speakerslist




//DONORS PARTNERS VOLUNTEERS
.secondrow {
  @include span-columns(12, 12);//TILES OVERALL GRID SMALL
  @include clearfix;
  .content{
    padding-top: 30px;
    padding-left: 3px;
    padding-right: 3px;
    @include at-breakpoint($medium){
    padding-right: 0px;
    }
  }//content
  @include at-breakpoint($medium){
  @include span-columns(12, 12);//TILES OVERALL GRID MEDIUM
  margin-top: 10px;
  

  .address{
  margin-right: 0px !important;
  @include border-radius;
  @include span-columns(3, 12);//TILES OVERALL GRID
  background: $hcgrey;
  height:400px;
  padding:1%;
  h4{
  text-transform:uppercase;
  color: $hcblue;
  font-size:.8rem;
  font-weight: 600;
  }
  p{
  padding-right:15px;
  }
}//address 
}//medium
}//second row

//HC PROMO



.hcpromo{
  @include at-breakpoint($medium){
  padding-right: 25px;
  }//medium
  
  .promoitem{
    color:black;
    @include border-radius;
    @include single-transition(all, .1s, ease-out);
    @include span-columns(6,12);//small TILE GRID
    position: relative;
    cursor:pointer;
    @include box-shadow;
    height:250px;
    margin-bottom: 3%;

     h4{
//      background-color:white;
      text-align: left;
      color:$hcblue;
      font-size: 1.7rem;
      text-transform: uppercase;
      position:absolute;
      width:100%;
      text-align: center;
      padding-bottom: 10px; 
      top:205px;
      width:auto;
      text-align: inherit;
       padding-bottom: 0px;
     }

    p{
     padding:9px;
      @include at-breakpoint($medium){
        padding:0px;
        padding-right:15px;
      }//medium
      position:absolute;
      top:10px;
      line-height: 1.5em;
     }
    @include at-breakpoint($medium){
    color:black;
    @include span-columns(3,12);//MEDIUM TILE GRID
    height:400px;
    padding:2%;
     &:hover{
      
      z-index: 99;
        a{
      color:$hcblue;
     }//a
    }//hover magnify
      

     p{
     padding-top:5px;
      position:absolute;
      top:250px;
     }
    a{
    display:block; 
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-secondary;
    font-size:.8rem;
    padding:2%;
    position: absolute;
    bottom: 0;
    color: darken($hcgrey,30%);
    cursor: pointer;
    margin-bottom: 7%;
    @include single-transition(all, .3s, ease-out);

    }
  
    }//medium
      
  }//promoitem

.promoitem:nth-of-type(1){//SUPPORT TILE
  background-color: lighten($hcgrey,2%);
  @include at-breakpoint($medium) {
  @include background(image-url('artwork/food_bw.png'));
  background-position: center -190%;
  background-repeat: no-repeat;
  background-color: white;
  margin-left: 0%;
  }//medium background image
@include at-breakpoint($medium) {
  &:hover{
    @include background(image-url('artwork/food.png'));
    background-repeat: no-repeat;
    background-position: center -190%;
    background-color: white;
    }//promo hover
      }//medium
  }//promoitem
  
.promoitem:nth-of-type(2){//JOBS TILE
  background-color: lighten($hcgrey,2%);
  background-size:cover;
  @include at-breakpoint($medium) {
  @include background(image-url('artwork/jobs_bw.png'));
  background-position: center -190%;
  background-repeat: no-repeat;
  background-color: white;
  margin-left: 0%;
  }//medium background image
@include at-breakpoint($medium) {
  &:hover{
    @include background(image-url('artwork/jobs.png'));
    background-repeat: no-repeat;
    background-position: center -190%;
    background-color: white;
//    -webkit-transform: scale(1.1, 1.1);
//    background-transform: scale(1.1, 1.1);
    }//promo hover
      }//medium
  }//promoitem
  
  
.promoitem:nth-of-type(3){//JOBS TILE
  background-color: lighten($hcgrey,2%);
  @include at-breakpoint($medium) {
  @include background(image-url('artwork/donors_bw.png'));
  background-position: center -190%;
  background-repeat: no-repeat;
  background-color: white;
  margin-left: 0%;
  }//medium background image
@include at-breakpoint($medium) {
  &:hover{
    @include background(image-url('artwork/donors.png'));
    background-repeat: no-repeat;
    background-position: center -190%;
    background-color: white;
    }//promo hover
      }//medium
  }//promoitem
  
.promoitem:nth-of-type(4){//SUPPORT TILE
  background-color: lighten($hcgrey,2%);
  h4{
    color:white;
    background-color:$hcyellow;
      }
}
}//hcpromo











//THIRD ROW//////////////
.thirdrow{
  .content{
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
  }
  .promoitem:nth-of-type(2){
   margin-right: 1.6%;
  }
  .promoitem:nth-of-type(3){
   margin-right: 0%;
  }
  @include at-breakpoint($medium){
  @include span-columns(12,12);
    margin-top:-45px;
    .content{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    
  }//content
    .promoitem{
    @include span-columns(3,12);
  
    }//Partners & Volunteer
 .promoitem:nth-of-type(1){//SUPPORT TILE
  background-color: lighten($hcgrey,2%);
  @include at-breakpoint($medium) {
  @include background(image-url('artwork/partners_bw.png'));
  background-position: center -190%;
  background-repeat: no-repeat;
  background-color: white;
  margin-left: 0%;
  }//medium background image
@include at-breakpoint($medium) {
  &:hover{
    @include background(image-url('artwork/partners.png'));
    background-repeat: no-repeat;
    background-position: center -190%;
    background-color: white;
    }//promo hover
      }//medium
  }//promoitem
  
.promoitem:nth-of-type(2){//SUPPORT TILE
  background-color: lighten($hcgrey,2%);
  @include at-breakpoint($medium) {
  @include background(image-url('artwork/volunteers_bw.png'));
  background-position: center -190%;
  background-repeat: no-repeat;
  background-color: white;
  margin-left: 0%;
  }//medium background image
@include at-breakpoint($medium) {
  &:hover{
    @include background(image-url('artwork/volunteers.png'));
    background-repeat: no-repeat;
    background-position: center -190%;
    background-color: white;
    }//promo hover
      }//medium
  }//promoitem
//LOCATION
.location{
  @include span-columns(6, 12);//MAP OVERALL GRID
  border:2px solid $hcgrey;
  margin-right: 0px !important;
  @include border-radius;
  height:400px;
  padding:0% 0% 0% 2%;
  background: $hcgrey;
  .map{
    p{
    font-size: .8rem;
    }
     h3 {
    padding-top: 20px;
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
    }//h3
    #map-canvas{
      width:95%;
      height:210px;
      margin-top: 10px;
      box-shadow: 10 0 25px rgba(0,0,0,1) inset;
    }//#map-canvas
   }//.map
  }//location
 }//medium
}//thirdrow


//Sidebar
.sb-left{
  margin-top: 100px;
  a{
  text-decoration: none;
  color:white;
  }
  li{
  width:100%;
  padding:2.5% 0% 2.5% 5%;
  cursor: pointer;
  font-size:1.1rem;
  font-family: $font-secondary;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}


//FOOTER
footer{
  color: white;
  background: $softblack;
  padding-bottom: 15px;
  ul{
  margin-top:2%;
  width:100%;
  }   
  li{
  width:100%;
  text-align: center;
  @include at-breakpoint($medium){
  width:auto;
  }//medium
  float:left;
  font-size: 1em;
  &:nth-of-type(1){
  width:48%;
    a{
    float: right;
    @include at-breakpoint($medium){
    float: none;
    }//medium
    }
  @include at-breakpoint($medium){
  width:auto;
  }//medium
    
  }
  &:nth-of-type(2){
  width:48%;
    a{
    float: left;
    @include at-breakpoint($medium){
    float: none;
    }//medium
    }
  @include at-breakpoint($medium){
  width:auto;
  }//medium
  }
  &:last-of-type{
  float:right;
  color: white;
  font-size:.7em;
  }
  
  }
  .link{
  @include at-breakpoint($medium){
  float:right;
  }//middle
  color: white;
  font-size:.8em;
  text-decoration: none;
  }
  a{
    color:white;
  cursor: pointer;
    &:hover{
    color: $hcblue;
    }
  }
  
}//footer


////////////SERVICES//////////////////////

.index {
display: none;
  @include at-breakpoint($medium){
    @include span-columns(4,12);
width:285px;
display:inherit;
background: $hcgreen;
padding-left:5%;
padding-top:20px;
height:300%;
  ul{
  margin-top:40px;
  height:100%;
  }
  li{
  font-size:1.2rem;
  font-weight: 400 !important;
  line-height: 2em;
  }
}//medium
  a{
    @include single-transition(all, .3s, ease-out);
    text-decoration: none;
    font-family: $font-secondary;
    &:hover{
    color:white;
    }
  }//a
}//.index

.offerings{
  a{
  text-decoration: none;
  color:darken($hcgrey,30);
  font-family: $font-secondary;
  font-weight: 200;
  }
  h3{
    font-size:2rem;
    color:$hcgreen;
    font-weight:400;
    margin-top:40px;
    padding-left: 0px;
    }
  .services{
  margin-top:140px;
  padding-left: 25px;

  @include at-breakpoint($medium){
  margin-top:0px;
  }
  }
@include at-breakpoint($medium){
    @include span-columns(7,12);
    margin-top:20px;
    h3{
    font-size:2.5rem;
    }
  p{
  padding-left: 0px !important;
}
  
}

}