$lightgray      : #819090;
$gray           : #708284;
$mediumgray     : #536870;
$darkgray       : #475B62;
$orange         : #BD3613;
$cyan           : #259286;
$green          : #738A05;
$hcblue         : #28b3c9;
$hcred          : #e25135;
$hcyellow       : #ffd26b;
$hcgrey         : #eeeeee;
$hcsoftyellow   : #ffd26b;
$hcsoftred      : #FFCDC7;
$hcsoftblue     : #C8F4FF;
$hcgreen        : #6bdb94;
$hcsoftwhite    : #f4f4f4;
$softblack      : #2c2d33;


$font-primary: "brandon-grotesque", serif;
$font-secondary: "brandon-grotesque", sans-serif;

$default-border-radius: 0px;